# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# C extensions
*.so

# Editor directories and files
.vscode/
.idea/
*.swp
